/* Font faces */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"); //font-family: "Raleway", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap"); // font-family: 'Montserrat', sans-serif;

// Font variables
$font-header: "Raleway", sans-serif;
$font-body: "Montserrat", sans-serif;

// Colors
$color-primary: #333333;
$color-secondary: #000000;
$color-gray-3: #828282;
$color-footer: #a9a9a9;
